:root {
    --color-primary: #ffffff;

    --spacing-base: 1rem;
    --spacing-medium: 1.5rem;
}

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

article {
    position: relative;
    width: auto;
    height: 175px;
    color: var(--color-primary);
    font-size: 2rem;
}

article:hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-base);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}

#toggle {
    display: none;
}

.expand {
    display: block !important;
    width: 100%;
}
